body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: hsl(189, 36%, 53%);
}

/* You can add global styles to this file, and also import other style files */
@media (hover: hover) and (pointer: fine) {
  button[mat-flat-button]:hover {
    background-color: rgba(12, 175, 184, 0.25);
  }
}
